.footer{
    padding-top: 85px;
    padding-bottom: 10px;
    &__container{
        position: relative;
        @extend %align-between;
         align-items: center;
         &::after{
            content: "";
            display: block;
            background: #e5e5e5;
            height: 1px;
            position: absolute;
            width: 100%;
            top: -13px;
        
        }
    
    }
    &__list {
        li{
        display: inline-block;
        }
    }
    &__about{
        font-family: $main-font;
        font-size: 14px;
    }
    &__link{
        color: #f38181;
    }
}





.contact-form{
    display: flex;
    &__input{
        height: 40px;
        padding-left: 12px;
        &::placeholder{
            font-style: italic;
            color: #cccccc;
            font-size: 15px;
            line-height: 24px;
            font-family: $secondary-font;
        }
    }
    &__btn{
        border: none;
        background-color: #95e1d3;
        color: #ffffff;
        @extend %font-transform;
        @include font(14px,700);
        padding: 0 33px 0 33px;
    }
}
