.header{
    padding-top: 35px;
    padding-bottom: 230px;
    background-image: linear-gradient(rgba(243,129,129,0.9)  0%, rgba(252,227,138,0.9) 100%),
     url("../images/header/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__navigation{
          padding-bottom: 200px;
}
    &__title{
    margin-top: 0;
    @extend %font-transform;
    color: #ffffff;
    font-size: 150px;
    text-align: center;
}
&__about-title{
    display: block;
}
    &__desctiption{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #ffffff;
}
@media (min-resolution: 192dpi) {
    background-image: linear-gradient(rgba(243,129,129,0.9)  0%, rgba(252,227,138,0.9) 100%),
    url(../images/header/banner@2x.jpg);
}
}


.navigation{
    @extend %align-between;
    align-items: baseline;
}
.logotype{
    font-family: $main-font;
    @include font(30px,700);
    color: #ffffff;
}
.menu-list{
    display: flex;
    margin-left: auto;
&__item{
    margin-right: 55px;
}
&__link{
    @extend %font-transform;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    &:hover{
        transition: color 2s linear;
        color:#fce38a;
    }
    &:hover::after{
        width: 100%;
    }
    &::after{
        display: block;
        content: "";
        height: 3px;
        background-color: #fce38a;
        position: absolute;
        bottom: -12px;
        width: 0%;
        left: 50%;
        transform: translate(-50%);
        transition: width 2s linear;
    
    }
}

}

.cart-list{
    display: flex; 
    align-self: flex-end;
    &__basket{
    height: 20px;
    width: 18px;
    background-image: url("../images/cart-list/cart.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 40px;
}
&__btn{
    height: 19px;
    width: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("../images/cart-list/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}
}

.modal-btn{
    border: solid 3px #ffffff;
    background-color: transparent;
    width: 164px;
    height: 44px;
    display: block;
    margin: 0 auto;
    @extend %font-transform;
    color: #ffffff;
    font-size: 14px;

}