.services{
    padding-bottom: 55px;
    padding-top: 55px;
    &__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &-title{
            @extend %font-transform;
            @include font(14px,700);
            line-height: 17px;
            color: #333333;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-description{
            font-family: $secondary-font;
            font-size: 15px;
            line-height: 24px;
            color: #999999;
        }
        &-item{
            width: 382px;
            margin-bottom: 105px;
            padding-left: 82px;
            background-repeat: no-repeat;
            background-position: left 14px top;
            &_alarm{
                background-image: url("../images/services/alarm.svg");
            }
            &_graph{
                background-image: url("../images/services/graph.svg");
            }
            &_computer{
                background-image: url("../images/services/computer.svg");
            }
            &_book{
                background-image: url("../images/services/book.svg");
            }
            &_home{
                background-image: url("../images/services/home.svg");
            }
            &_image{
                background-image: url("../images/services/image.svg");
            }
        }
    }
}





