.team{
    &__name{
        text-align: center;
        color: #333333;
        @extend %font-transform;
        font-size: 14px;
        font-weight: bold;
    }
    &__about{
        font-family: $secondary-font;
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        font-style: italic;
        color: #999999;
    }
    &__list{
        display: -webkit-box;
        display: -ms-flexbox;
        @extend %align-between;
        &-item{
            margin-bottom: 85px;
        
        &:hover .team__list-img{
            transition: -webkit-transform 2s linear;
            transition: transform 2s linear;
            transition: transform 2s linear, -webkit-transform 2s linear;
            transform: translate(-10px, -10px);
               box-shadow: 10px 10px #95e1d3;
            }
            &:hover .overlay{
                opacity: 1;  
            }
        }
    }
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient( rgba(243,129,129,0.9), rgba(252,227,138,0.9) );
    left: 0;
    top: 0;
    transform: translate(-10px, -10px);
    opacity: 0;
    transition: opacity 2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contacts{
    position: relative;
    margin-bottom: 30px;
    &__list{
        display: flex; 
            &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(252, 227, 138);
            height: 56px;
            width: 56px;
            background-repeat: no-repeat;
            background-position: center;
            border-right: 1px solid rgba(243, 129, 129, 0.5) ;
                &:hover{ 
                transition: background-color 2s linear;
                background-color:  #f38181;
                }  
                    .contacts__list-link-icon{
                        fill: rgb(252, 227, 138);
                    }
                }
            }
        }
            &-link-icon{
            fill: #f38181;
            &_facebook{
                width: 13px;
                height: 26px;
            }
            &_twitter{
                width: 26px;
                height: 22px;
            }
            &_pinterest{
                width: 21px;
                height: 26px;
            }
            &_instagram{
                width: 26px;
                height: 26px;
            }
        }
    }

}








