.sections-title{
    text-align: center;
    font-family: $main-font;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    margin-bottom: 112px;
}

.sections-title::after{
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: rgb(243, 129, 129);
    margin: 42px auto 0;
}