.sections-title{
    text-align: center;
    @include font(30px,700);
    line-height: 36px;
    @extend %font-transform;
    color: #333333;
    margin-bottom: 112px;
    &::after{
        display: block;
        content: "";
        height: 3px;
        width: 60px;
        background-color: rgb(243, 129, 129);
        margin: 42px auto 0;
    }
}

