.sections-description{
    font-family: 'Kaushan Script', cursive;
    text-transform: none;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}